/* --- Links --- */

.accordion .switch a {border-width:0 0 1px 0; text-decoration:none}

.accordion a{border-width:1px; text-decoration:none;color:#606060!important;font-size:13px;}


#side a {display:block;}

#side a:hover, #side a:active, #side a:focus {background-color:#ffffff;}

/* --- Accordion --- */
.js #main .accordion {visibility:hidden}

.js #side .accordion {display:none}

.accordion {margin:0; padding:4px 0px; background:#ffffff;}

.accordion li {list-style-type:none;padding:5px 4px; border-bottom:1px solid #f0f0f0;}

.accordion li.last-child {margin-left:4px; list-style-type:none;padding-left:20px; background-image: url(plain.gif); background-repeat: no-repeat; background-position: 1px 50%;}

#side ul.accordion ul {margin:0; padding:0 0 0 20px;}

.accordion .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff}

.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; overflow:hidden}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em}

.accordion p {margin:.5em 0 1em}

.switch {margin-bottom:.5em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    
.accordion a{ font-weight:bold;}
a.trigger {display:block; padding-left:20px; background-image: url(plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  }

a.trigger.open {background-image: url(minus.gif)}

.last-child a.trigger{padding-left:1px; background-image:none;}

#main a.trigger {background-color:#f0f0f0}

#main a.trigger.open {border-color:#dadada; background-color:#e7e7e7}

#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#bcd}

#main .switch a.open {background:transparent none}

#side a.active{font-weight:700; color:#f72; text-decoration:none}
.block-accordian-cat .block-title strong {background-image: url('i_block-list.gif');background-position: 0px 1px;background-repeat: no-repeat;padding-left: 21px;}